{% extends 'base.html' %} 

{% block title %} 
    О нас
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Culpa, fugiat obcaecati? Dignissimos earum facilis incidunt
                modi, molestias mollitia nam quis recusandae voluptatum?</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p> Dicta id officia quibusdam vel voluptates. Ad
                adipisci
                aliquid
                animi
                architecto
                commodi
                deleniti dolor
                doloremque facilis fugiat hic illo nam odit officia placeat
                provident quam quisquam quo reiciendis repudiandae sint suscipit
                unde, velit voluptatem! </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p>Ab accusamus delectus et expedita id iste,
                laboriosam optio quam, recusandae sed veritatis voluptate!
                Accusamus blanditiis debitis et tempora. Ab architecto asperiores
                aut consequuntur distinctio earum iusto nihil, non odit quidem
                soluta veniam.</p>
        </div>
    </div>
{% endblock %}