{% extends 'base.html' %} 

{% block title %} 
    Контакты
{% endblock %}

{% block content %}
    <section class="cont_sec_th">
        <img src="../imgs/cont_img.png">
        <div>
            <h1>Наш адрес</h1>
            <p>Казахстан</p>
            <p>Алматы <br>
                Манаса, дом 12, квартира 1<br>
                050026</p>
        </div>
        <div>
            <h1>Контакты для связи:</h1>
            <p>Телефон: <a href="#" class="link_cont"> +7 (727) 347 00 71</a></p>
            <p>e-mail: <a href="#" class="link_cont"> info@cadsystems.kz</a></p>
        </div>
    </section>
{% endblock %}