 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{age}}</td>
            <td>{{rating}}</td>
        </tr>
        {% for student in students_list %}
        <tr>
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.age}}</td>
            <td>{{student.rating}}</td>
        </tr>
        {% endfor %}

    </table>


</body>
</html>